SITE_URL=https://meeks.paps.jp
# Global IPv4 of this server (advertised for TURN relays and used as TURN host)
PUBLIC_IP=
# openssl rand -hex 32
TURN_SECRET=
# Docker network of the Caddy that fronts Meeks
PROXY_NETWORK=passist_pn
IPLOG_DAYS=730
